/* Search Tracks */
.searchContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.formSearch {
	width: 30rem;
	display: flex;
	align-items: center;
}

form .inputSearch {
	height: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

form .btnSearch {
	background-color: hsl(var(--clr-primary));
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	padding: 1em;
	border-radius: 0.3rem;
	cursor: pointer;
	color: hsl(var(--clr-text));
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transition: box-shadow 0.3s ease-in-out;
}
