.alert-container {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: grid;
	place-items: center;
	padding-block: 2rem;
	background: hsl(var(--bg-formEls) / 0.8);
}

.alert-success {
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-direction: column;
	margin-bottom: 2rem;
	padding-block: 3rem;
}

.alert-success .information-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.7rem;
}

.alert-success .success-icon {
	display: inline-block;
	transform: rotate(45deg);
	height: 3rem;
	width: 1.5rem;
	border-bottom: 0.5em solid hsl(var(--clr-primary));
	border-right: 0.5em solid hsl(var(--clr-primary));
}

.alert-success .alert-message {
	font-size: 0.88rem;
	color: hsl(var(--clr-text) / 0.5);
}
