.form-container {
	padding-block: 2rem;
	color: hsl(var(--clr-text));
	background: linear-gradient(
		to bottom,
		hsl(var(--clr-grey) / 0.5),
		hsl(var(--bg-body))
	);
}

.form-card {
	margin-inline: auto;
	width: 24rem;
}

.form-card input,
.form-card textarea {
	display: block;
	margin-top: 0.5rem;
}

.form-card textarea {
	min-height: 4rem;
	resize: vertical;
}

input:focus,
textarea:focus {
	outline: none;
	background-color: hsl(var(--bg-formEls) / 1);
}

.form-card form {
	margin-top: 1.5rem;
}

.form-group:not(:first-child) {
	margin-top: 1.5rem;
}

.form-group button {
	background-color: hsl(var(--clr-primary));
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	padding: 1em 2em;
	border-radius: 0.3rem;
	width: 100%;
	cursor: pointer;
	color: hsl(var(--clr-text));
}
