/* Navbar */
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 3rem;
	padding-block: 1rem;
	box-shadow: 0 0 3em hsl(var(--clr-black) / 0.5);
}

.navbar-brand img {
	width: 3rem;
}

.nav-list {
	display: flex;
	gap: 1rem;
}
