/* Navbar */
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 3rem;
	padding-block: 1rem;
	box-shadow: 0 0 3em hsl(var(--clr-black) / 0.5);
}

.nav-container img {
	width: 3rem;
}

.nav-list {
	display: flex;
	gap: 1rem;
}

.nav-list .btn-create {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	box-shadow: 0 1em 1em hsl(var(--clr-primary) / 0.1);
	transition: all 0.3s ease-in-out;
}

.nav-list .btn-create:hover {
	transform: translateY(-0.2rem);
}

.nav-container .user-info {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav-container .user-info img {
	border-radius: 50%;
	width: 2rem;
}
