.select-song button {
	background-color: #1ed760;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	padding: 10px 20px;
	border-radius: 1rem;
	width: 100%;
	cursor: pointer;
}

#playlists .playlist-card {
	margin-bottom: 3rem;
	width: 20rem;
}

#playlists .content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#playlists .card .img {
	width: 100%;
}

#playlists .card .artist {
	font-size: 1.2rem;
}

#playlists .card .img img {
	width: 100%;
	border-radius: 0.5rem;
}

#playlists .release-date {
	font-size: 0.65rem;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.4);
}

#playlists .card .content > div:not(:last-child) {
	margin-bottom: 0.8rem;
}

#playlists .album-title {
	font-size: 1.38rem;
	font-weight: semi-bold;
}
