#playlists {
	padding: 1rem;
	margin-top: 2rem;
}

#playlists .title {
	text-align: center;
}

#playlists #cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}
