.card-selected-tracks > *:where(:not(:last-child)) {
	margin-bottom: 0.75rem;
}

.card-selected-tracks {
	padding: 1rem;
	width: 10rem;
	--radius: 0.5rem;
}

.card-selected-tracks .album-cover img {
	max-width: 8rem;
	border-radius: 0.2rem;
}

.card-selected-tracks .prev-song-title {
	font-weight: bold;
}

.card-selected-tracks .prev-artist {
	font-size: 0.88rem;
	color: hsl(var(--clr-text) / 0.5);
}
