/* Serach Tracks */
#tracks {
	padding: 2rem;
}

#tracks .introduction {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-direction: column;
	margin-bottom: 2rem;
}

#tracks .introduction p {
	font-size: 0.88rem;
	color: hsl(var(--clr-text) / 0.5);
}

#tracks .search-container {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

#tracks form {
	width: 30rem;
	display: flex;
	align-items: center;
}

#tracks form input {
	height: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
