#tracks {
	padding: 2rem;
}

#tracks .title {
	text-align: center;
	margin-bottom: 2rem;
}

#tracks .search-container {
	display: flex;
	justify-content: center;
}

#tracks form {
	width: 30rem;
	display: flex;
	align-items: center;
}

#tracks form input {
	height: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#tracks form button {
	background-color: hsl(var(--clr-primary));
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	padding: 1em 2em;
	border-radius: 0.3rem;
	cursor: pointer;
	color: hsl(var(--clr-text));
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#tracks #results {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
	max-width: 90vw;
	margin-inline: auto;
}

.btn-auth {
	background-color: hsl(var(--clr-primary));
	color: hsl(var(--clr-text));
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	padding: 1em 2em;
	border-radius: 0.3rem;
	cursor: pointer;
}
