/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
	/* colors */
	--clr-primary: 141 76% 48%;
	--clr-text: 0 0% 97%;
	--clr-black: 0 0% 0%;
	--clr-grey: 0 1% 37%;

	/* background colors */
	--bg-formEls: 0 0% 14%;
	--bg-body: 0 0% 7%;
	--bg-card: 0 0% 9%;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

a {
	text-decoration: none;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "SF UI Display", sans-serif;
	color: hsl(var(--clr-text));
	padding: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	background: hsl(var(--bg-body));
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

input,
textarea {
	padding: 0.75rem;
	border-radius: 0.3rem;
	border: none;
	width: 100%;
	min-width: 16rem;
	background-color: hsl(var(--bg-formEls) / 0.5);
	color: hsl(var(--clr-text));
}
