.cardSelectedTracks > *:where(:not(:last-child)) {
	margin-bottom: 0.75rem;
}

.cardSelectedTracks {
	padding: 1rem;
	width: 10rem;
	--radius: 0.5rem;
}

.cardSelectedTracks .albumCover img {
	max-width: 8rem;
	border-radius: 0.2rem;
}

.cardSelectedTracks .prevSongTitle {
	font-weight: bold;
}

.cardSelectedTracks .prevArtist {
	font-size: 0.88rem;
	color: hsl(var(--clr-text) / 0.5);
}
